In [1]:
import pandas as pd

# Noiseless Data

In [9]:
noiseless_ref_ref_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/Notebooks/noiseless_ref_ref_data.csv",header=None)
noiseless_ref_ref_data['Label'] = 1
noiseless_ref_ref_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1
1,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1
2,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1
3,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1
4,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1

In [10]:
noiseless_ref_diff_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/Notebooks/noiseless_ref_diff_data.csv",header=None)
noiseless_ref_diff_data['Label'] = 0
noiseless_ref_diff_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,1,1,1,0,1,0,1,...,0,1,1,1,1,1,0,0,0,0
2,0,1,0,1,0,0,0,0,1,0,...,0,0,0,1,1,0,1,1,1,0
3,1,0,0,1,1,1,1,1,0,0,...,0,0,0,1,0,0,1,0,1,0
4,1,1,0,1,0,1,0,0,0,0,...,1,1,0,0,0,1,1,0,1,0

In [11]:
noiseless_dif_diff_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/Notebooks/noiseless_dif_diff_data.csv",header=None)
noiseless_dif_diff_data['Label'] = 0
noiseless_dif_diff_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,0,0,1,0,0,0,0,1,1,1,...,0,1,0,0,0,0,1,1,1,0
1,0,0,0,0,1,1,0,1,0,0,...,0,0,0,1,1,0,1,0,0,0
2,1,1,1,1,0,0,0,0,1,1,...,0,0,1,1,1,1,0,0,0,0
3,0,0,1,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,0
4,1,0,0,0,1,0,1,1,1,0,...,1,0,0,1,0,1,1,1,0,0

#Â Noisy Data

In [36]:
noise_ref_ref_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/noise_ref_ref_data.csv",header=None)
noise_ref_ref_data['Label'] = 1
noise_ref_ref_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,1,0,1,0,0,1,0,0,1,0,...,1,1,0,1,0,1,0,1,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1,1,0,0,0,1
2,1,1,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,0,0,1
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,1,0,1,0,1
4,1,0,1,0,0,1,0,0,1,0,...,1,1,1,1,0,1,0,1,0,1

In [37]:
noise_ref_diff_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/noise_ref_diff_data.csv",header=None)
noise_ref_diff_data['Label'] = 0
noise_ref_diff_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,1,0,0,0,1,0,1,1,0,0,...,0,1,0,1,0,0,1,0,1,0
1,1,0,0,0,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,0
2,1,0,0,1,0,0,0,0,1,1,...,0,1,1,1,0,1,0,1,0,0
3,0,1,0,1,0,0,0,0,1,1,...,0,1,0,1,1,0,1,1,1,0
4,0,0,1,0,1,0,1,0,0,0,...,0,1,1,0,0,0,1,1,0,0

# All Data

In [27]:
noiseless_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/noiseless_data.csv",header=None)
noiseless_data['Label'] = 1

In [28]:
noiseless_data.loc[100000:,'Label'] = 0

In [29]:
noiseless_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1
1,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1
2,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1
3,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1
4,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,1,0,1

In [30]:
print(noiseless_data[99998:100005])

        0  1  2  3  4  5  6  7  8  9  ...  22  23  24  25  26  27  28  29  30  \
99998   1  0  0  0  0  1  0  0  1  0  ...   1   1   0   1   1   1   0   1   0
99999   1  0  0  0  0  1  0  0  1  0  ...   1   1   0   1   1   1   0   1   0
100000  0  0  0  1  1  0  1  1  1  0  ...   1   1   0   0   1   1   1   1   1
100001  0  1  0  1  0  0  0  0  1  0  ...   0   0   0   1   1   0   1   1   1
100002  0  0  0  1  1  0  1  1  1  0  ...   1   1   0   0   1   1   1   1   1
100003  0  0  0  1  1  0  1  1  1  0  ...   1   1   0   0   1   1   1   1   1
100004  0  1  1  0  0  1  1  1  1  1  ...   1   0   0   0   0   1   0   0   1

        Label
99998       1
99999       1
100000      0
100001      0
100002      0
100003      0
100004      0

[7 rows x 32 columns]

In [31]:
pd.DataFrame(noiseless_data)['Label'].value_counts()

0    200000
1    100000
Name: Label, dtype: int64

In [32]:
noisey_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/noisey_data.csv",header=None)
noisey_data['Label'] = 1

In [33]:
noisey_data.loc[100000:,'Label'] = 0

In [34]:
noisey_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,1,0,1,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,0,0,1
1,1,1,1,0,0,1,0,0,1,0,...,1,1,0,1,1,1,1,1,0,1
2,0,0,0,1,0,1,0,0,1,0,...,0,1,0,1,1,1,0,1,0,1
3,1,0,1,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,1,0,1
4,1,0,0,0,0,1,0,0,1,1,...,1,1,1,0,1,1,0,1,0,1

In [35]:
print(noisey_data[99998:100005])

        0  1  2  3  4  5  6  7  8  9  ...  22  23  24  25  26  27  28  29  30  \
99998   1  0  0  0  0  1  0  1  1  0  ...   1   1   0   1   1   1   0   1   1
99999   1  1  0  0  0  1  0  1  1  1  ...   1   0   1   1   1   1   0   1   0
100000  0  1  1  1  0  1  1  1  1  1  ...   1   0   0   0   1   1   0   0   1
100001  1  0  0  0  0  0  1  0  0  1  ...   0   1   1   0   1   1   1   0   0
100002  1  1  1  1  0  0  1  1  1  0  ...   0   1   1   1   1   1   0   0   1
100003  1  0  1  1  1  0  0  1  0  0  ...   0   0   1   1   1   1   0   1   0
100004  1  1  0  1  1  1  1  0  1  0  ...   1   0   1   0   1   1   0   1   1

        Label
99998       1
99999       1
100000      0
100001      0
100002      0
100003      0
100004      0

[7 rows x 32 columns]

In [36]:
pd.DataFrame(noisey_data)['Label'].value_counts()

0    200000
1    100000
Name: Label, dtype: int64

# Concatenate Dataframes

In [37]:
# data_frames = [noiseless_ref_diff_data,
#                noiseless_dif_diff_data,
#                noise_ref_ref_data,
#                noise_ref_diff_data,
#                noise_dif_diff_data
#               ]

data_frames = [noisey_data,
               noiseless_data
              ]

In [38]:
flip_bits_dataset = noisey_data.append(noiseless_data,ignore_index = True)

In [40]:
flip_bits_dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,1,0,1,0,0,1,0,0,1,0,...,1,1,0,1,1,1,0,0,0,1
1,1,1,1,0,0,1,0,0,1,0,...,1,1,0,1,1,1,1,1,0,1
2,0,0,0,1,0,1,0,0,1,0,...,0,1,0,1,1,1,0,1,0,1
3,1,0,1,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,1,0,1
4,1,0,0,0,0,1,0,0,1,1,...,1,1,1,0,1,1,0,1,0,1

In [42]:
print(flip_bits_dataset[299999:300005])

        0  1  2  3  4  5  6  7  8  9  ...  22  23  24  25  26  27  28  29  30  \
299999  0  0  0  1  1  1  0  1  0  0  ...   0   1   1   1   0   0   0   0   0
300000  1  0  0  0  0  1  0  0  1  0  ...   1   1   0   1   1   1   0   1   0
300001  1  0  0  0  0  1  0  0  1  0  ...   1   1   0   1   1   1   0   1   0
300002  1  0  0  0  0  1  0  0  1  0  ...   1   1   0   1   1   1   0   1   0
300003  1  0  0  0  0  1  0  0  1  0  ...   1   1   0   1   1   1   0   1   0
300004  1  0  0  0  0  1  0  0  1  0  ...   1   1   0   1   1   1   0   1   0

        Label
299999      0
300000      1
300001      1
300002      1
300003      1
300004      1

[6 rows x 32 columns]

In [43]:
print(len(flip_bits_dataset))

600000

In [44]:
pd.DataFrame(flip_bits_dataset)['Label'].value_counts()

0    400000
1    200000
Name: Label, dtype: int64

In [45]:
flip_bits_dataset.to_csv('flip_bits_dataset_final.csv')